body {
    margin : 0;
    font-family: Inter, sans-serif;
    background-color: #333439;
}

.reactLogo {
    width: 70px;
    margin-right: 7px;
}

.navbarHeader{
    height: 90px;
    background-color: #21222A;
    padding: 30px 25px;
}

.navbar-proj {
    display: flex;
    align-items: center;
    height: 100%;
}

.navSpan {
    font-size: 1.4rem;
    font-weight: 700;
    color: #61DAFB;
    margin-left: 7px;
}

.main-Maincomp{
    padding: 60px 30px;
    color: white;
    background-image: url("./assets/react.svg");
    background-repeat:no-repeat;
    background-position: 100% 50%;
}

.hMaincomp {
    font-weight: 800;
    margin: 0;
    font-size: 2.4rem;
}

.ulMainComp{
    margin-top: 46px;
    max-width: 400px;
}

.liMaincomp {
    padding-block: 10px;
    line-height: 19px;
}

.liMaincomp::marker{
    color: #61DAFB;
    font-size: 1.5rem;
}